
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
        <div class="container">
          <a class="navbar-brand" href="#">

            {%if brand_name%}{{brand_name}}{%else%}Ecommerce{%endif%}
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseLinks"
                    aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{%url 'home'%}">Home <span class="sr-only">(current)</span></a>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'contact'%}">Contact</a>
      </li>
          <div class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'profile'%}">Profile</a>
            <a class="nav-item nav-link" href="{% url 'logout'%}">Logout</a>

            {% else %}
            <a class="nav-item nav-link" href="{% url 'login'%}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        <li class="nav-item">
        <a class="nav-link" href="{%url 'products:list'%}">Products</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{%url 'cart:cart_detail'%}">Cart{{product.cart_items}}<i class="fa fa-cart-plus" aria-hidden="true"></i></a>

        </li>






       <!--<li class="nav-item dropdown">-->
         <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
           <!--Dropdown-->
         <!--</a>-->
             <!--<div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">-->
               <!--<a class="dropdown-item" href="#">Action</a>-->
               <!--<a class="dropdown-item" href="#">Another action</a>-->
               <!--<div class="dropdown-divider"></div>-->
               <!--<a class="dropdown-item" href="#">Something else here</a>-->
             <!--</div>-->
       <!--</li>-->
    </ul>
    {%include 'snippert/search_form.html'%}
  </div>
        </div>
</nav>
